# Pacotes gerados
*.plasmoid
*.tar.gz
*.tar.zst
*.zip

# Artefatos de build / cache
build/
.cache/
*.qmlc
*.jsc

# Editores
*.kate-swp
*.swp
*~
.idea/
.vscode/
.qtcreator/
*.user

# Sistema operacional
.DS_Store
Thumbs.db
